.Rproj.user
.Rhistory
*.RData
*.Rdata
*.csv
*.xls
data/*
mcmcqtl/*
data
.ipynb_checkpoints
.ipynb_checkpoints/*
.httr-oauth
OAuth_lem_server.R
animation
animation/*
*.rda
SUR.rds
mixedModelGmatrix.rds
